*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #e7ebe6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    border: 16px solid #536e91;
    border-left-color: transparent;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}